{% extends 'base.html' %}

{% block title %} | Services {% endblock %}
{% block content %}

<!-- Sub banner start -->
<!-- Log on to codeastro.com for more projects -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Services</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">Services</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Services start -->
<div class="services content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title text-center">
            <h1>Our <span>Services</span></h1>
            <p>Datavalley is a car company offering Matter as a service platform with innovative solutions. It focuses on data-driven automotive insights, fleet management, and connected vehicle technologies. Their services aim to enhance efficiency, sustainability, and customer experience.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">1</div>
                    <div class="icon">
                        <i class="flaticon-support-2"></i>
                    </div>
                    <div class="detail">
                        <h3>Free Support</h3>
                        <p>Datavalley supports Matter by providing advanced automotive services and solutions that integrate seamlessly with the Matter platform. Their offerings include data analytics, smart vehicle connectivity, and efficient fleet management.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">2</div>
                    <div class="icon">
                        <i class="flaticon-speed"></i>
                    </div>
                    <div class="detail">
                        <h3>Super Fast</h3>
                        <p>Datavalley delivers super-fast services by leveraging the Matter platform to provide real-time data processing, seamless vehicle connectivity </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">3</div>
                    <div class="icon">
                        <i class="flaticon-motor"></i>
                    </div>
                    <div class="detail">
                        <h3>Repairing</h3>
                        <p>Datavalley offers super-fast automotive services, including real-time data-driven solutions, seamless connectivity through the Matter platform</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">4</div>
                    <div class="icon">
                        <i class="flaticon-air-conditioner"></i>
                    </div>
                    <div class="detail">
                        <h3>AIR conditioning</h3>
                        <p>Datavalley ensures your vehicle's air conditioning system performs at its best with rapid diagnostics and service. Their Matter-powered solutions offer energy-efficient maintenance and enhanced climate control.</p>
                    </div>
                </div>
            </div>
			<!-- Log on to codeastro.com for more projects -->
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">5</div>
                    <div class="icon">
                        <i class="flaticon-fuel"></i>
                    </div>
                    <div class="detail">
                        <h3>Oil Change</h3>
                        <p>Datavalley provides precise and swift oil change services using advanced Matter-driven monitoring. This ensures your vehicle's engine remains in peak condition for longer.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">7</div>
                    <div class="icon">
                        <i class="flaticon-wheel"></i>
                    </div>
                    <div class="detail">
                        <h3>Engine Repair</h3>
                        <p>With Datavalley's state-of-the-art repair solutions, engine diagnostics and repairs are performed with Matter-backed accuracy. Their expert technicians deliver fast and reliable solutions to get you back on the road.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">6</div>
                    <div class="icon">
                        <i class="flaticon-car-2"></i>
                    </div>
                    <div class="detail">
                        <h3>Dealership</h3>
                        <p>Datavalley transforms dealership operations through Matter-integrated solutions that optimize inventory and customer experiences. They enable smooth communication between dealerships and customers.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">8</div>
                    <div class="icon">
                        <i class="flaticon-lock"></i>
                    </div>
                    <div class="detail">
                        <h3>Security</h3>
                        <p> Datavalley's Matter-driven security systems protect both vehicles and data, offering peace of mind. Advanced monitoring and threat detection ensure maximum protection.</p>
                    </div>
                </div>
            </div>
			<!-- Log on to codeastro.com for more projects -->
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">9</div>
                    <div class="icon">
                        <i class="flaticon-deal"></i>
                    </div>
                    <div class="detail">
                        <h3>Trusted Agents</h3>
                        <p>Datavalley builds trust through its reliable network of Matter-powered agents. These experts provide personalized services to meet every customer need.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services end -->



<!-- Service center strat -->
<div class="service-center content-area-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="inside-car service-car">
                    <iframe src="https://www.youtube.com/embed/J5_E4nMNhag?si=vnDZHP3shi8sJSp1" allowfullscreen=""></iframe>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="about-text">
                    <h3>Our Services <span>Video</span></h3>
                    <p>One morning, when Datavalley woke from a busy week of car rentals, it found itself transformed into a leading provider of innovative and seamless automotive services. It stood out in the market, and by improving customer experiences, Datavalley could see itself driving forward in the world of car rentals.</p>
            </div>
        </div>
    </div>
</div>
<!-- Log on to codeastro.com for more projects -->
<!-- Service center end -->

{% endblock %}
