<!-- Footer start -->
<!-- Log on to Datavalley for more projects -->
<footer class="footer">

    <div class="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <p class="copy">© {% now 'Y' %} - Car Rental</p>
                </div>
                <div class="col-lg-4">
                    <div class="social-list-2">
                        <ul>
                            <li><a href="https://www.bing.com/ck/a?!&&p=002195768e39891a7ef247c95651abd809d94fb696c6a2926929426283d85b8bJmltdHM9MTczODYyNzIwMA&ptn=3&ver=2&hsh=4&fclid=20ce91a9-805c-6590-0fd4-822881c064e4&psq=datavalley+facebook&u=a1aHR0cHM6Ly93d3cuZmFjZWJvb2suY29tL2RhdGF2YWxsZXl0ZWNoLw&ntb=1"target="_blank" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/Datavalley_ai " target="_blank" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://datavalley.ai/" target="_blank" class="google-bg"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/datavalley-cloud/" target="_blank" class="linkedin-bg"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer end -->
